* {
    margin: 0;
}

html {font-size: 100%}
body {font-size: 100%}

    
.header {
    background-color: aquamarine;
    font-size: 1em
}

.container {
    width: 80%;
    max-width: 90rem;
    margin: auto;
}

.header-container {
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(86, 86, 86);
    font-size: 1em;
}

.h1-title {
    background-color: brown;
    height: fit-content;
    font-size: 3em;
}

.login-btn {
    background-color: blueviolet;
    height: fit-content;
    font-size: 1em;
}

.login-dialog {
    margin: auto;
    border: none;
    background-color: red;
}

.login-dialog form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: chocolate;
}

.login-fieldset-fields,
.login-fieldset-buttons {
    border: none;
}

.login-fieldset-fields {
    background-color: aqua;
    position: relative;
    padding-top: 3rem;
    font-size: 1em;
}

.login-fieldset-buttons {
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-around;
    padding: .4rem;
    padding-bottom: .7rem;
}
.login-fieldset-fields legend {
    position: absolute;
    top: .8rem;
    left: calc(50% - 1.7rem);
    font-size: 1.5em;
    margin: 0;
    background-color: blueviolet;
}

.login-fieldset-fields label{
    display: flex;
    flex-direction: column;
    font-size: 1em;
}


.login-fieldset-buttons button{
    background-color: blue;
    border: 0;
    border-radius: 1rem;
    padding: 0.5rem .7rem;
}

.products-ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.products-li {
    
}

.product-image {
    width: 7rem;
}

.product-title {

}