---
---
<ul id="ul-product-list" class="products-ul"></ul>

<script>
    import { setChildren } from "../client-ui-scripts/utils";
    import { products } from "../stores/products";

    products.subscribe(products => {
        const liElements: HTMLLIElement[]= []
        products?.forEach(product => {
            let liElement = document.createElement('li')
            liElement.className = "product-li"
            liElement.innerHTML = `
            <img src=${product.image} class="product-image"/>
            <p class="product-title">${product.title}</p>
            <span class="product-price">${"$ " + product.price}</span>
            `
            
            liElements.push(liElement)
        });
        setChildren("#ul-product-list", liElements)
    })

</script>

<style is:inline>
    .products-ul {
        list-style: none;
        display: grid;
        margin: 0;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }

    .product-li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: .5rem;
        border: .1rem solid #c7e1e3;
        border-radius: 1rem;
        cursor: pointer;
        -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
        -moz-transition: -moz-box-shadow 0.1s ease-in-out;
        transition: box-shadow 0.1s ease-in-out;
    }

    .product-li:hover {
        -webkit-box-shadow: 0px 0px 7px 0px rgba(17,87,93,0.3);
        -moz-box-shadow: 0px 0px 7px 0px rgba(17,87,93,0.3);
        box-shadow: 0px 0px 7px 0px rgba(17,87,93,0.3);
    }

    .product-image {
        width:  7rem;
        height: 7rem;
        object-fit: contain;
    }

    .product-title {
        width: 100%;
    }

    .product-price {
        width: 100%;
        font-weight: bold;
    }
</style>