---
import Layout from '../layouts/Layout.astro';
import SearchModal from '../components/SearchModal.astro';
import ProductList from '../components/ProductList.astro';
import FilterAside from '../components/FilterAside.astro';
---

<Layout title="Vanilla Shop Web">
    <main class="container main-section">
        <FilterAside/>
        <ProductList/>
    </main>
    <SearchModal/>
    <footer></footer>
</Layout>

<script>
    import { updateProducts } from "../services/updateProducts";
    import { searchQuery } from "../stores/search";
    
    updateProducts()
    searchQuery.subscribe(_ => updateProducts())
</script>

<style>
    .main-section {
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }
</style>