---
import Layout from '../layouts/Layout.astro';
import LoginModal from '../components/LoginModal.astro';
import ProductList from '../components/ProductList.astro';
---

<Layout title="Vanilla Shop Web">
    <main class="container">
        <ProductList/>
    </main>
    <LoginModal/>
    <footer></footer>
</Layout>