---
import Layout from '../layouts/Layout.astro';
import LoginButton from "../components/LoginButton.astro";
---

<Layout title="Vanilla Shop Web">
	<header class="header" id="header">
        <div class="header-container container" id="header-container">
            <h1 class="h1-title">Vanilla-Shop</h1>
            <LoginButton/>
        </div>
    </header>
    <main class="container"></main>
    <dialog id="login-dialog" class="login-dialog">
        <form>
            <fieldset class="login-fieldset-fields">
                <legend>Login</legend>
                <label>
                    <span>Username:</span>
                    <input type="text" name="username" id="login-username-input">
                </label>
                <label>
                    <span>Password:</span>
                    <input type="password" name="password" id="login-password-input">
                </label>
            </fieldset>
            <fieldset class="login-fieldset-buttons">
                <button value="cancel" formmethod="dialog">Cancel</button>
                <button id="login-confirm-btn" value="default">Confirm</button>
            </fieldset>
        </form>
    </dialog>
    <footer></footer>
</Layout>
