---
import Layout from '../layouts/Layout.astro';
import SearchModal from '../components/SearchModal.astro';
import ProductList from '../components/ProductList.astro';
---

<Layout title="Vanilla Shop Web">
    <main class="container">
        <ProductList/>
    </main>
    <SearchModal/>
    <footer></footer>
</Layout>

<script>import { updateProducts } from "../services/updateProducts";

    updateProducts()
</script>