---
import Layout from '../layouts/Layout.astro';
import LoginButton from "../components/LoginButton.astro";
import LoginModal from '../components/LoginModal.astro';
---

<Layout title="Vanilla Shop Web">
	<header class="header" id="header">
        <div class="header-container container" id="header-container">
            <h1 class="h1-title">Vanilla-Shop</h1>
            <LoginButton/>
        </div>
    </header>
    <main class="container"></main>
    <LoginModal/>
    <footer></footer>
</Layout>
